*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 30px;
    color: goldenrod;
}

#message-el {
    margin: 20px;
    font-style: italic;
    padding: 10px;
}

#cards-el{
    padding: 10px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin: 20px;
}
div{
    border: 8px solid black;
    height: 500px;
    width: 500px;
    min-height:300px;
    min-width: 300px;
}
#player-el{
    padding: 20px;
}